body {
  margin : 0px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

div {
  box-sizing: border-box;
}

header {
  position: relative;
  padding-left: 10px;
}

header h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.button, .button_disabled {
  min-width: 150px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
  border-radius: 6px;
  border: 2px solid #7EBC6F;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  font-weight: bold;
}

.selected_panel .button_large {
  width: 100%;
  margin-bottom: 1em;
}

.button_large {
  left: 0;
  right: 0;
  display: block;
  margin: 0;
}

.button, .button.tab.selected, .button.tab:hover {
  background-color: #7EBC6F;
  color: white;
}

.button.selected, .button:hover, .button.tab {
  background-color: #7EBC6F;
  background-color: white;
  color: #133a08;
}

.button_disabled {
  border: 2px solid #efefef;
  background-color: #efefef;
  color: rgb(83, 79, 79);
  transition-duration: 0.2s;
  cursor: default;
}

.disabled {
  color: rgb(83, 79, 79);
  transition-duration: 0.1s;
}

.tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  margin: 0;
  opacity: 1;
}

.panel, .selected_panel, .visible_panel  {
  border: 2px solid #7EBC6F;
  background: #fff;
  display: none;
  padding: 5px;
}

.selected_panel, .visible_panel {
  display: block;
}

.espace {
  margin: 1em 0;
}

.parameters>div, .choix {
  margin: 0.5em 0;
}

#command_line {
  font-family: monospace;
  background: #eee;
  padding: 0.5em;
}

#map { 
  margin: 0px;
  height: 100%;
  width: 100%; 
  right : 0px;
  position: fixed;
  transition: all .5s linear;
}

.hidden {
  display: none;
}

#content {
  background-color: white;
  opacity: 0.9;
  overflow: auto;
  position: absolute;
}
#content>div>div {
  margin: 10px;
}

@media (orientation: landscape) {
  #content {
    width : 20vw;
    height: 100%;
    right: 0px;
  }
}

@media (orientation: portrait) {
  #content {
    height : 30vh;
    width: 100%;
    bottom: 0px;
  }
}


#comment_section {
  padding: 10px;
}

textarea {
  left: 0;
  right: 0;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


#send_button, .button_large {
  margin-top: 10px;
}


input[type=range] {
  width: 100%;
}


.popup {
  text-align : center;
}

@media only screen and (min-width: 800px) {
  #settings_content {
    grid-template-columns: 0.5fr;
  }

  #comment {
    grid-template-columns: 0.5fr;
  }
}

@media only screen and (min-width: 1024px) {
  #settings_content {
    grid-template-columns: 0.25fr;
  }
}

.lds-spinner {
  padding: 10px;
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}